
.time-entry-modal {
  .modal-header {
    justify-content: center;
    .modal-title {
      font-size: 32px;
      font-weight: 700;
      color: $primary-color;
    }
  }
  .modal-footer {
    padding: 22px 9px;
  }
  .col-form-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
  .input-field {
    width: 100%;
    border-radius: 8px;
    border: 1px solid  #E0E2E7;
    background: #F9F9FC;
    height: 43px;
    padding: 10px;
    font-size: 14px;
  }
  .form-select {
    @extend .input-field;
  }
  .react-select__control {
    min-height: 43px !important;
    .react-select__value-container {
      .react-select__placeholder {
      }
    }
  }
}
.add-new-crew-modal {
  .modal-title {
    font-size: 22px;
    font-weight: 700;
    color: $primary-color;
  }
  .col-form-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
}